<div class = "card row">
	<div class = "card-body">
		{{#if (isEqual user_id req_id)}}
		<a href="/post/{{id}}" class="text-decoration-none link-success">
			<h2 class="card-title">{{title}}</h2>
		</a>
		{{else}}
		<a href="/post/{{id}}" class="text-decoration-none">
			<h2 class="card-title">{{title}}</h2>
		</a>
		{{/if}}
		<p class="card-subtitle text-muted">Posted by {{user.username}} on {{formatDate createdAt}}</p>
		<p class = "card-text">{{content}}</p>
		
	</div>
</div>