<div class="container">
	<div id="postId" post-id="{{id}}">
		<div class="row">
			<h1 class="col">{{title}}</h1>
			{{#if post_owner}}
				<p class="col-6 text-secondary align-bottom text-right">Posted by You on {{formatDate createdAt}}</p>
			{{else}}
				<p class="col-6 text-secondary align-bottom text-right">Posted by {{user.username}} on {{formatDate createdAt}}</p>
			{{/if}}
		</div>
		<p>{{content}}</p>
	</div>
	{{#if comments}}
	{{#each comments as |comment|}}
		{{#if comment_owner}}
			{{> commentCardOwn}}
		{{else}}
			{{> commentCard}}
		{{/if}}
	{{/each}}
	{{/if}}
</div>

<div class="container">
	<div class="input-group">
		<textarea class="form-control" placeholder="Enter Comment Here"></textarea>
		<button class="btn btn-primary input-group-append" type="submit">Submit</button>
	</div>
</div>